body{
	background-color: grey;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

#header {
	position: relative;
	top: 0px;
	left: 0px;
	max-width: 75%;
	margin: 10px auto;
	background: white;
	padding: 50px;
	text-align: center;
}
#nav {
	position: relative;
	left: 0px;
	max-width: 75%;
	margin: 10px auto;
	background: white;
	padding: 50px;
	text-align: center;
}

#section {
	text-align: top;
	position: relative;
	float: left;
	left: 160px;
	width: 30%;
	padding: 150px;
	margin: 25px auto;
	background: white;
	text-align: center;
	height: 50px;
	text-align: top;
	
}


#aside {
	position: relative;
	margin-left: 200px; float: left;
	width: 12.5%;
	margin-top: 25px;
	overflow: auto;
	background: white;
	padding: 150px;
	height: 50px;
	text-align: center;	

}


#article {
	position: absolute;
	background: grey;
	padding: 100px;
	left: 189px;
	top: 400px;
	width: 556px;

}
#h {
	position: absolute;
	background: white;
	padding: 15px;
	top: 475px;
	left: 250px;
	width: 600px;
	text-align: center;

}
#p {
	position: absolute;
	background: white;
	padding: 15px;
	left: 250px;
	width: 600px;
	top: 550px;
	text-align: center;
	
}
#footer {
	position: static;
	background: white;
	margin-bottom: 0;

}

